<div class="news">
  <div class="table-responsive" {% if site.news_scrollable and news_size > 3 %}style="max-height: 5vw"{% endif %}>
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row">Summer 2023</th>
        <td>
          Software Engineering Intern @ 
          <a href="http://microsoft.com/">Microsoft</a>.
        </td>
      </tr>
      <tr>
        <th scope="row">Summer 2023</th>
        <td>
          Machine Learning Fellow @ 
          <a href="https://www.ai4goodlab.com/">AI4Good Lab</a>.
        </td>
      </tr>
      <tr>
        <th scope="row">Winter 2022-Now</th>
        <td>
          HCI & AI Research @ 
          University of Toronto <a href="https://chai.cs.toronto.edu/">Computational Health and Interaction Lab</a>.
        </td>
      </tr>
      <tr>
        <th scope="row">April 2023</th>
        <td>
          Discover Attendee @ 
          <a href="https://www.citadel.com/">Citadel & Citadel Securities</a>.
        </td>
      </tr>
      <tr>
        <th scope="row">Summer 2022</th>
        <td>
          Explore (Software Engineering & Product Management) Intern @ 
          <a href="http://microsoft.com/">Microsoft</a>.
        </td>
      </tr>
      <tr>
        <th scope="row">July 2021</th>
        <td>
          Women in STEM Attendee @ 
          <a href="https://www.janestreet.com/">Jane Street</a>.
        </td>
      </tr>
      <tr>
        <th scope="row">Summer 2021</th>
        <td>
          Data Research Intern @ 
          <a href="https://www.collegekickstart.com/">College Kickstart</a>.
        </td>
      </tr>
      <tr>
        <th scope="row">Summer 2019</th>
        <td>
          Bioinformatics Research @ 
          University of Toronto <a href="http://individual.utoronto.ca/maxwell_lab/">Maxwell Lab</a>.
        </td>
      </tr>
    </table>
  </div>
  <div class="caption">
    Check out my LinkedIn for more details and/or email me for my most updated resume!
  </div>
</div>